.branch-card{
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  .branch-card_indicator{
    display: none;
    transition: all 0.3s ease-out;
    @media (max-width: 1023px) {
      display: block;
      position: absolute;
      top: 10px;
      right: 10px;
      width: 37px;
      height: 37px;
      border-radius: 37px;
    }
  }
  .branch-name{
    text-transform: uppercase;
    font-size: 20px;
    line-height: 112%;
    letter-spacing: 0;
    padding: 10px 10px 5px 10px;
    position: absolute;
    top: 10px;
    left: 10px;
  }
  &:nth-child(even) {
    .branch-name{
      background: #E1DCD5;
      color: #640832;
    }
    .branch-description{
      background: url("../img/Union-figure-people-blue.svg") no-repeat left center;
      background-size: contain;
      color: #000000;
    }
  }
  &:nth-child(odd) {
    .branch-name{
      background: #A0D7FF;
      color: #00323C;
    }
    .branch-description{
      background: url("../img/union-figure-people-yellow.svg") no-repeat left center;
      background-size: contain;
      color: #640832;
    }
  }
  &:hover{
    .branch-description{
      transform: translateX(0);
    }
    .branch-card_indicator{
      transform: rotate(45deg);
    }
  }
  .branch-card_image{
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .branch-description{
    position: absolute;
    max-width: 322px;
    height: 220px;
    display: flex;
    align-items: center;
    bottom: 10px;
    padding: 20px 48px 20px 20px;
    transition: all .5s ease-out;
    transform: translateX(-100%);
    .branch-description_text{
      font-size: 16px;
      line-height: 130%;
      padding-left: 23px;
      position: relative;
      &:before{
        content: "→";
        position: absolute;
        left: 0;
      }
    }
  }
}
