@use "../base/variables";

.container-regular{
  width: 100%;
  max-width: variables.$container-width;
  margin: 0 auto;
}

.padding-global{
  padding-left: 40px;
  padding-right: 40px;
  @media (width<=1140px){
    padding-left: 15px;
    padding-right: 15px;
  }
}
