.logo-section {
  background: #00323C;
  padding-top: 30px;
  padding-bottom: 130px;
  color: #E1DCD5;
  img {
    padding-bottom: 90px;
  }
  .scroll-down{
    font-size: 12px;
    line-height: 112%;
    letter-spacing: -.07em;
    text-transform: uppercase;
    max-width: 43px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    text-align: center;
  }
  .logo-section_subtext{
    font-size: 36px;
    letter-spacing: -.05em;
    line-height: 112%;
  }
}
