.logo-section {
  background: #00323C;
  padding-top: 30px;
  //padding-bottom: 130px;
  color: #E1DCD5;
  height: calc(100vh - 210px);
  @media (min-width: 1140px) {
    min-height: 600px;
  }
  .transforming-logo {
    padding-bottom: 90px;
    max-width: 100%;
  }
  .scroll-down{
    font-size: 12px;
    line-height: 112%;
    letter-spacing: -.07em;
    text-transform: uppercase;
    max-width: 43px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    text-align: center;
  }
  .logo-section_subtext{
    font-size: 36px;
    letter-spacing: -.05em;
    line-height: 112%;
  }
  @media (max-width: 1140px) {
    padding-top: 105px;
    height: auto;
    padding-bottom: 112px;
  }
  @media (max-width: 767px){
    .logo-section_subtext{
      text-align: center;
    }
  }
}
