.marquee {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.marquee__track {
  display: flex;
  flex: 0 0 auto;
  width: max-content;
  will-change: transform;
  transform: translate3d(0, 0, 0);
  gap: 10px;
  animation: marquee-scroll var(--marquee-duration, 20s) linear infinite;
}

@keyframes marquee-scroll {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(calc(-1px * var(--marquee-distance)), 0, 0);
  }
}

.marquee__content {
  display: inline-flex;
  flex: 0 0 auto;
}

.marquee__list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.marquee__list.images-marquee {
  gap: 10px;
  align-items: flex-start;

  .marquee__item {
    padding: 0;
    flex: 0 0 auto;

    &:nth-child(odd) {
      width: 397px;
    }

    &:nth-child(even) {
      width: 333px;
    }

    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }
}

.marquee__item {
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}


.marquee__item--text {
  font-size: clamp(
    28px,
    calc(28px + (74 - 28) * ((100vw - 320px) / (1920 - 320))),
    74px
  );
  line-height: 1;
  font-weight: 800;
  margin: 0;
  white-space: nowrap;
}
