.container-reviews{
  width: 100%;
  max-width: 789px;
  margin: 0 auto;
  @media (max-width: 1023px){
    max-width: 530px;
  }
}

.review-item {
  background: white;
  border-radius: 40px;
  padding: 50px 50px 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  transition: all .25s ease-in-out;
  position: relative;
  box-sizing: border-box;

  &.swiper-slide {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;

    &:not(.swiper-slide-active) {
      transform: scale(.85);
      opacity: .7;

      * {
        filter: blur(2px);
        opacity: .4;
      }
    }
  }

  .review-content {
    font-size: 20px;
    line-height: 140%;
    letter-spacing: -.05em;

    .review-header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .review-author {
        display: flex;
        align-items: center;
        gap: 20px;
        font-size: 16px;

        &__photo {
          width: 80px;
          height: 80px;
          border-radius: 10px;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        &__name {
          line-height: 100%;
          letter-spacing: -.07em;
          margin-bottom: 5px;
        }
        &__position {
          line-height: 130%;
          letter-spacing: 0;
          opacity: .7;
        }
      }
    }
  }
  .review-text {
    margin-top: 30px;
  }
}

.swiper-controls {
  margin-top: 127px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  .swiper-next, .swiper-prev {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75px;
    height: 75px;
    border-radius: 10px;
    border: 1px solid #640832;
    transition: all .25s ease-in-out;
    img {
      width: 30px;
      height: 30px;
    }
    &.swiper-button-disabled {
      opacity: .5;
    }
  }
  .swiper-next {
    transform: rotate(180deg);
  }
}

@media (max-width: 1024px) {
  .swiper-controls {
    margin-top: 30px;
  }
}

@media(max-width: 767px) {
  .review-item {
    padding: 20px;
  }
  .swiper-controls {
    margin-top: 40px;

    .swiper-next, .swiper-prev {
      width: 50px;
      height: 50px;

      img {
        width: 14px;
        height: 14px;
      }
    }
  }
}
