@font-face {
  font-family: "NeueMachina";
  src:
    url('../fonts/PPNeueMachina-PlainRegular.woff2') format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NeueMachina";
  src:
    url("../fonts/PPNeueMachina-InktrapUltraboldItalic.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
