@use "sass:math";


$spacer-max: 200;
$spacer-step: 2;

@for $i from 0 through math.div($spacer-max, $spacer-step) {
  $value: $i * $spacer-step;

  .spacer-#{$value} {
    height: #{$value}px;
  }

  @media (min-width: 568px) and (max-width: 768px) {
    .spacer-m-#{$value} {
      height: #{$value}px;
    }
  }
  @media (max-width: 567px) {
    .spacer-s-#{$value} {
      height: #{$value}px!important;
    }
  }
}
