@use "base";
@use "components";
@use "layout";

body{
  font-family: 'NeueMachina', sans-serif;
  font-size: 16px;
  line-height: 130%;
  color: #000;
  background: rgba(236, 234, 234, 1);
}
.page-wrapper{
  overflow: clip;
}
main{
  background: #ECEAEA;
}
/* optional: keeps things smooth */
[data-reveal] { visibility: hidden; }

.reveal-line {
  display: block;
  overflow: hidden;          /* <- the mask */
}

.reveal-line-inner {
  display: inline-block;
  transform: translateY(110%);
  will-change: transform;
}

.is-inview { visibility: visible; }

.is-inview .reveal-line-inner {
  transform: translateY(0);
  transition: transform 0.85s cubic-bezier(.2,.7,.2,1);
}

.is-inview .reveal-line-inner {
  transition-delay: calc(var(--line-index) * 80ms);
}
.team_video-section{
  position: relative;
  overflow: hidden;
  &:before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #002A32E5;
  }
}
